@import 'tailwindcss';
@source '..';

:root {
  --background: #FFF8E7;
  --foreground: #2A3439;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
