@import 'tailwindcss';
@source '..';

:root {
  --background: #f4ebd3;
  --foreground: #555879;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
