@import 'tailwindcss';
@source '..';

:root {
  --background: #eceff4;
  --foreground: #2a3439;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
